@model Mini_Account_Management_System.Models.ViewModel.UserRoleMappingViewModel

@{
    ViewData["Title"] = "User Role Mapping Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4><i class="fas fa-eye me-2"></i>Mapping Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
               
                <dt class="col-sm-3">User Name</dt>
                <dd class="col-sm-9">@Model.UserName</dd>

                <dt class="col-sm-3">Role Name</dt>
                <dd class="col-sm-9">@Model.RoleName</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left me-1"></i>Back to List
            </a>
        </div>
    </div>
</div>
